# `VaderSentiment` on Reddit Data

![](https://images.unsplash.com/photo-1515255384510-23e8b6a6ca3c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80)

---

## Libraries

In [45]:
# Install libs on this computer:
# !pip install praw
# !pip install pymongo
# !pip install psycopg2

In [3]:
#!pip install vaderSentiment

In [4]:
import os             # file system stuff
import json           # digest json
import praw           # reddit API
import pandas as pd   # Dataframes
import pymongo        # MongoDB
import numpy as np    # math and arrays

import time           # To time stuff

#DATA STORAGE
from sqlalchemy import create_engine # SQL helper
import psycopg2 as psql #PostgreSQL DBs

from pandas.io.json import json_normalize

from vaderSentiment import vaderSentiment

In [5]:
import helper     # Custom helper functions

In [6]:
import reddit_data # Custom reddit scraper

---

## 1B Load AWS-PostgreSQL DB keys

#### Save submissions to DB

In [7]:
# Define path to secret

# secret_path_aws = os.path.join(os.environ['HOME'], 'mia', '.secret', 
#                            'aws_ps_flatiron.json')
secret_path_aws = os.path.join(os.environ['HOME'], '.secret', 
                           'aws_ps_flatiron.json')
secret_path_aws

'C:\\Users\\werlindo\\.secret\\aws_ps_flatiron.json'

#### Load keys

In [8]:
aws_keys = helper.get_keys(secret_path_aws)
user = aws_keys['user']
ps = aws_keys['password']
host = aws_keys['host']
db = aws_keys['db_name']

In [9]:
aws_ps_engine = ('postgresql://' + user + ':' + ps + '@' + host + '/' + db)

### Use SQLAlchemy to create PSQL engine

In [100]:
# dialect+driver://username:password@host:port/database
sql_alch_engine = create_engine(aws_ps_engine)

### f. Check that the table was created, or can be appended.

In [103]:
# Setup PSQL connection
conn = psql.connect(
    database=db,
    user=user,
    password=ps,
    host=host,
    port='5432'
)

In [101]:
#QUERY TO GET LIST OF TABLES
query = """
    SELECT * FROM pg_catalog.pg_tables
    WHERE schemaname = 'public';
"""

In [104]:
# Instantiate cursor
cur = conn.cursor()

In [57]:
# Set up query
query = """
    SELECT * FROM comms_sntmnt_190612;
"""

In [105]:
# Execute the query
cur.execute(query)

In [40]:
conn.rollback()

In [106]:
# Check results
df_clone = pd.DataFrame(cur.fetchall())
df_clone.columns = [col.name for col in cur.description]

In [107]:
conn.commit()

In [109]:
df_clone.head(20)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,dems_subs,dsaf,None,True,False,False,False
1,public,dems_comms,dsaf,None,True,False,False,False
2,public,test_table,dsaf,None,True,False,False,False
3,public,comms_sntmnt,dsaf,None,True,False,False,False
4,public,comms_sntmnt_2,dsaf,None,True,False,False,False
5,public,supp_got_subs,dsaf,None,True,False,False,False
6,public,supp_got_comms,dsaf,None,True,False,False,False
7,public,comms_sntmnt_190613,dsaf,None,True,False,False,False
8,public,pitches_test,dsaf,None,True,False,False,False
9,public,got_subs,dsaf,None,True,False,False,False
10,public,got_comms,dsaf,None,True,False,False,False
11,public,comms_sntmnt_190612,dsaf,None,True,False,False,False
12,public,supp_dem_subs,dsaf,None,True,False,False,False
13,public,supp_dem_comms,dsaf,None,True,False,False,False
14,public,pitches,dsaf,None,True,False,False,False
15,public,got_subs_old,dsaf,None,True,False,False,False

In [64]:
deef = df_clone.iloc[:100,].copy()

In [67]:
deef.head()

,index,comment,domain,compound,neg,neu,pos
0,1666,> after e4 i thought i'd be so angry if jaime ...,got,-0.0875,0.137,0.741,0.122
1,1667,after each had spent so much time talking abou...,got,0.5187,0.000,0.853,0.147
2,1668,"after ep3 leaks came out for ep4-6, everything...",got,0.6969,0.092,0.726,0.182
3,1669,after episode 3 i had nothing by apathy for th...,got,0.2235,0.000,0.873,0.127
4,1670,"after episode 4, there really were a lot of pe...",got,-0.8039,0.160,0.755,0.085

In [68]:
deef['volume'] = deef['comment'].str.len()

In [69]:
deef.head()

,index,comment,domain,compound,neg,neu,pos,volume
0,1666,> after e4 i thought i'd be so angry if jaime ...,got,-0.0875,0.137,0.741,0.122,434
1,1667,after each had spent so much time talking abou...,got,0.5187,0.000,0.853,0.147,196
2,1668,"after ep3 leaks came out for ep4-6, everything...",got,0.6969,0.092,0.726,0.182,262
3,1669,after episode 3 i had nothing by apathy for th...,got,0.2235,0.000,0.873,0.127,87
4,1670,"after episode 4, there really were a lot of pe...",got,-0.8039,0.160,0.755,0.085,559

conn.close()

got_comments = """
    SELECT DISTINCT comment 
    FROM dems_comms 
"""
cur.execute(got_comments)
df_dems = pd.DataFrame(cur.fetchall())
df_dems.columns = [col.name for col in cur.description]

In [55]:
df_dems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165221 entries, 0 to 165220
Data columns (total 1 columns):
comment    165221 non-null object
dtypes: object(1)
memory usage: 1.3+ MB

# Make combined comments df

In [106]:
# Setup PSQL connection
conn = psql.connect(
    database=db,
    user=user,
    password=ps,
    host=host,
    port='5432'
)

In [107]:
# Instantiate cursor
cur = conn.cursor()

In [19]:
# Pull combined comments
got_comments = """
SELECT * FROM supp_got_subs limit 100
    ;   
"""

# 'Cast' results to dataframe
cur.execute(got_comments)
df_comms = pd.DataFrame(cur.fetchall())
df_comms.columns = [col.name for col in cur.description]

        got_comms c
        inner join 
        (
            SELECT DISTINCT sub_upvote_ratio, num_comments 
            FROM got_subs s
        ) on c.sub_id = s.id

## CREATE COMBINED TABLE - THURSDAY NIGHT

In [41]:
# Pull combined comments
all_comments = """
    CREATE TABLE comms_190613 AS
    SELECT * FROM
    (
    SELECT DISTINCT 'got' as domain, comment, comment_id, sub_id 
    FROM got_comms
    UNION
    SELECT DISTINCT 'dems' as domain, comment, comment_id, sub_id  
    FROM dems_comms 
    UNION
    SELECT DISTINCT 'got' as domain, comment, comment_id, sub_id 
    FROM supp_got_comms
    UNION
    SELECT DISTINCT 'dems' as domain, comment, comment_id, sub_id  
    FROM supp_dem_comms 
    ) Z
    ;   
"""

# 'Cast' results to dataframe
cur.execute(all_comments)

### Check table `comms_190613` was created

## CREATE COMBINED TABLE - THURSDAY NIGHT

In [42]:
# Pull combined comments
all_comments = """
    SELECT * FROM comms_190613;
    
"""

# 'Cast' results to dataframe
cur.execute(all_comments)

In [43]:
df_comms = pd.DataFrame(cur.fetchall())
df_comms.columns = [col.name for col in cur.description]

In [44]:
df_comms.tail(2)

,domain,comment,comment_id,sub_id
338933,got,长夜将至，我从今开始守望,en5vm3a,bneadg
338934,got,"> 飲みたい!\n\nDude, I'm teaching myself Japanese ...",emzskty,bmrjkt

In [45]:
df_comms.head()

  domain comment comment_id  sub_id
0   dems            emxf2dr  bmiht3
1   dems            emxfj8k  bmiht3
2   dems            emy0cyo  bmiht3
3   dems            emy18wz  bmiht3
4   dems            en1k4gl  bmiht3

In [46]:
df_comms.shape

(338935, 4)

Check how many comments per domain

In [47]:
df_comms['domain'].value_counts()

dems    194046
got     144889
Name: domain, dtype: int64

## Now Create sub table to get sub metrics

Get lay of the land.

In [49]:
# Pull combined comments
all_comments = """
    SELECT * FROM got_subs limit 100;
    
"""

# 'Cast' results to dataframe
cur.execute(all_comments)

In [50]:
df_comms = pd.DataFrame(cur.fetchall())
df_comms.columns = [col.name for col in cur.description]

In [51]:
df_comms.tail(2)

,index,title,num_comments,upvote_ratio,id
98,98,[Spoilers]Why team Danny didn't use the secret...,12,0.75,bo6y8j
99,99,"[SPOILERS] ""Would You Rather?""... Have the fin...",11,1.00,bohrll

In [52]:
# Pull combined comments
all_subs = """
    CREATE TABLE subs_190613 AS
    SELECT * FROM
    (
    SELECT DISTINCT 'got' as domain, id as sub_id, title, num_comments, upvote_ratio 
    FROM got_subs
    UNION
    SELECT DISTINCT 'dems' as domain, id as sub_id, title, num_comments, upvote_ratio
    FROM dems_subs 
    UNION
    SELECT DISTINCT 'got' as domain, id as sub_id, title, num_comments, upvote_ratio
    FROM supp_got_subs
    UNION
    SELECT DISTINCT 'dems' as domain, id as sub_id, title, num_comments, upvote_ratio  
    FROM supp_dem_subs 
    ) Z
    ;   
"""

# 'Cast' results to dataframe
cur.execute(all_subs)

### Check table `subs_190613` was created

## CREATE COMBINED TABLE - THURSDAY NIGHT

In [53]:
# Pull combined comments
all_subs = """
    SELECT * FROM subs_190613;
    
"""

# 'Cast' results to dataframe
cur.execute(all_subs)

In [54]:
df_subs = pd.DataFrame(cur.fetchall())
df_subs.columns = [col.name for col in cur.description]

In [55]:
df_subs.tail(2)

,domain,sub_id,title,num_comments,upvote_ratio
4204,dems,bvbcjh,Mayor Pete: Trump has ’deteriorating and embar...,210,0.95
4205,dems,bunkci,The incredible shrinking...Bernie Sanders?,198,0.43

In [56]:
df_subs.head()

,domain,sub_id,title,num_comments,upvote_ratio
0,dems,bnsq7p,"Biden Pulling Away in South Carolina With 46%,...",335,0.54
1,dems,br3gok,"In Alabama, Sanders makes appeal to Deep South...",104,0.92
2,got,bsl995,[No Spoilers] Daenerys Targaryen Sculpture,132,0.96
3,dems,borw76,The vast majority of Republicans support Alexa...,62,0.93
4,dems,buzmpn,Joe Biden Boom! Ten Point Jump Since Announcin...,54,0.19

In [57]:
df_subs.shape

(4206, 5)

Check how many comments per domain

In [58]:
df_subs['domain'].value_counts()

got     2726
dems    1480
Name: domain, dtype: int64

## OK, combine to get the sub metrics.

In [64]:
# Pull combined comments
all_comments = """
    SELECT 
        c.domain
        ,c.comment
        ,MAX(s.num_comments) sub_num_comments
        ,AVG(s.upvote_ratio) sub_upvote_ratio
    FROM 
        comms_190613 c
        INNER JOIN subs_190613 s ON c.sub_id = s.sub_id
    GROUP BY
        c.domain
        ,c.comment
    ;   
"""

# 'Cast' results to dataframe
cur.execute(all_comments)

In [65]:
df_comms = pd.DataFrame(cur.fetchall())
df_comms.columns = [col.name for col in cur.description]

In [66]:
df_comms.tail(2)

,domain,comment,sub_num_comments,sub_upvote_ratio
324627,got,长夜将至，我从今开始守望,69,0.94
324628,got,"> 飲みたい!\n\nDude, I'm teaching myself Japanese ...",767,0.89

In [67]:
df_comms.head()

,domain,comment,sub_num_comments,sub_upvote_ratio
0,dems,,2035,0.84
1,dems,0,23429,0.91
2,dems,0.000000001% Indian,3118,0.78
3,dems,.01% and rising!,1765,0.87
4,dems,[0-1% does not look like this.](https://www.yo...,108,0.77

In [68]:
df_comms.shape

(324629, 4)

Check how many comments per domain

In [69]:
df_comms['domain'].value_counts()

dems    185611
got     139018
Name: domain, dtype: int64

There were about 339K comments before joining, but 325K after inner joining on subs. I'm ok with that, as long as it didn't go up!

## Perform sentiment analysis via `Vader`

In [81]:
analyzer = vaderSentiment.SentimentIntensityAnalyzer()

In [82]:
# sentiment_list = []
# for comment in df_comms['comment']:
#     sentiment_list.append(analyzer.polarity_scores(comment))

In [83]:
sentiment_list = [analyzer.polarity_scores(row) for row in df_comms['comment']]

In [84]:
len(sentiment_list)

324629

Double check there are as many rows in this list as `comments` dataframe. Should be 0.

In [85]:
len(sentiment_list) - df_comms.shape[0]

0

Great. Now cast to dataframe.

In [86]:
df_sentiment = pd.DataFrame(sentiment_list)

In [87]:
df_sentiment.head()

   compound    neg    neu    pos
0    0.0000  0.000  0.000  0.000
1    0.0000  0.000  0.000  0.000
2    0.0000  0.000  1.000  0.000
3    0.0000  0.000  1.000  0.000
4    0.2153  0.066  0.842  0.092

Combine with the 'comments' dataframe.

In [89]:
df_comms_sent = pd.concat([df_comms, df_sentiment], axis=1)

Check shape, etc.

In [91]:
df_comms_sent.head(10)

,domain,comment,sub_num_comments,sub_upvote_ratio,compound,neg,neu,pos
0,dems,,2035,0.84,0.0000,0.000,0.000,0.000
1,dems,0,23429,0.91,0.0000,0.000,0.000,0.000
2,dems,0.000000001% Indian,3118,0.78,0.0000,0.000,1.000,0.000
3,dems,.01% and rising!,1765,0.87,0.0000,0.000,1.000,0.000
4,dems,[0-1% does not look like this.](https://www.yo...,108,0.77,0.2153,0.066,0.842,0.092
5,dems,".03% is 10,000 dead bodies. Fractions of a per...",2063,0.92,-0.6369,0.347,0.565,0.089
6,dems,04 is not a good comparison to this race\n\nJo...,231,0.85,0.7347,0.042,0.888,0.070
7,dems,"08 was very different.. but either way, I curr...",146,0.91,0.0000,0.000,1.000,0.000
8,dems,0% chance of becoming law. America's tax dolla...,2361,0.90,-0.2960,0.244,0.640,0.116
9,dems,0% chance that impeachment happens.,2344,0.84,0.2500,0.000,0.667,0.333

Let's make comments all lowercase

In [92]:
df_comms_sent['comment'] = df_comms_sent['comment'].str.lower()

Check.

In [93]:
df_comms_sent.head(10)

,domain,comment,sub_num_comments,sub_upvote_ratio,compound,neg,neu,pos
0,dems,,2035,0.84,0.0000,0.000,0.000,0.000
1,dems,0,23429,0.91,0.0000,0.000,0.000,0.000
2,dems,0.000000001% indian,3118,0.78,0.0000,0.000,1.000,0.000
3,dems,.01% and rising!,1765,0.87,0.0000,0.000,1.000,0.000
4,dems,[0-1% does not look like this.](https://www.yo...,108,0.77,0.2153,0.066,0.842,0.092
5,dems,".03% is 10,000 dead bodies. fractions of a per...",2063,0.92,-0.6369,0.347,0.565,0.089
6,dems,04 is not a good comparison to this race\n\njo...,231,0.85,0.7347,0.042,0.888,0.070
7,dems,"08 was very different.. but either way, i curr...",146,0.91,0.0000,0.000,1.000,0.000
8,dems,0% chance of becoming law. america's tax dolla...,2361,0.90,-0.2960,0.244,0.640,0.116
9,dems,0% chance that impeachment happens.,2344,0.84,0.2500,0.000,0.667,0.333

Good!

In [94]:
df_comms_sent.shape

(324629, 8)

## Since it takes a bit to get to this point, how about we save this DF to AWS?

In [95]:
import datetime

In [96]:
print(datetime.datetime.now())

2019-06-14 00:03:10.596010

started 12:03am

In [110]:
df_comms_sent.to_sql('comms_sntmnt_190614', con=sql_alch_engine, if_exists='append')

### Check!

In [111]:
query = """
        select * from comms_sntmnt_190614 limit 1000;
        """

# 'Cast' results to dataframe
cur.execute(query)
df_check = pd.DataFrame(cur.fetchall())
df_check.columns = [col.name for col in cur.description]

In [112]:
conn.commit()

In [113]:
df_check.head()

,index,domain,comment,sub_num_comments,sub_upvote_ratio,compound,neg,neu,pos
0,0,dems,,2035,0.84,0.0000,0.000,0.000,0.000
1,1,dems,0,23429,0.91,0.0000,0.000,0.000,0.000
2,2,dems,0.000000001% indian,3118,0.78,0.0000,0.000,1.000,0.000
3,3,dems,.01% and rising!,1765,0.87,0.0000,0.000,1.000,0.000
4,4,dems,[0-1% does not look like this.](https://www.yo...,108,0.77,0.2153,0.066,0.842,0.092

In [114]:
print(datetime.datetime.now())

2019-06-14 05:56:52.665126

In [115]:
query = """
        SELECT COUNT(*) FROM comms_sntmnt_190614;
        """

# 'Cast' results to dataframe
cur.execute(query)
df_check = pd.DataFrame(cur.fetchall())
df_check.columns = [col.name for col in cur.description]

In [116]:
conn.commit()

In [117]:
df_check.head()

    count
0  324629

In [118]:
print(datetime.datetime.now())

2019-06-14 06:39:53.791567